[submodule "Nameless/vendor/spdlog"]
	path = Nameless/vendor/spdlog
	url = https://github.com/genesessouza/Nameless
[submodule "Nameless/vendor/GLFW"]
	path = Nameless/vendor/GLFW
	url = https://github.com/genesessouza/Nameless
[submodule "Nameless/vendor/glm"]
	path = Nameless/vendor/glm
	url = https://github.com/genesessouza/Nameless
[submodule "Nameless/vendor/imgui"]
	path = Nameless/vendor/imgui
	url = https://github.com/genesessouza/Nameless
